<ion-modal-view class="log-reg">
<img class="close-form" src="img/close.png" height="18px"  ng-click="closeChangepass()" alt="">
  <ion-content style="width:80%;margin:0 auto;overflow:hidden;">
    <img src="img/simpit-logo.png" height="130" class="changepass-img" style="display:block; margin:auto;margin-top:30px;">
    <div style="margin-bottom:40px;" class="col-xs-12 text-center changepass-text"><h4>
      Si cambias la contraseña, cerrarás sesión en tus dispositivos. Cuando vuelvas a iniciar sesión, deberás introducir la nueva contraseña.</h4></div>
      <form ng-submit="dochangepass()">
        <div class="list">
          <h4 style="text-align:center;">Ingrese la contraseña actual.</h4>
          <label class="item item-input" style="border-radius: 15px;margin-bottom:15px;">
            <input type="password" style="text-align:center"  placeholder="Ingrese la contraseña actual." style="width:10%;font-weight:bold;">
          </label>
          <h4 style="text-align:center;margin-top:40px;">Ingrese La nueva Contraseña.</h4>
          <label class="item item-input" style="border-radius: 15px;margin-bottom:15px;">
            <input type="password" style="text-align:center" ng-model="changepassData.password" placeholder="Ingrese la nueva contraseña." style="width:10%;font-weight:bold;">
          </label>
          <label class="item item-input" style="border-radius: 15px;margin-bottom:15px;">
            <input type="password" style="text-align:center" ng-model="changepassData.repassword" placeholder="Reingrese la nueva contraseña." style="width:10%;font-weight:bold;">
          </label>

        </div>
        <button class="button button-block button-positive changepass-button" ng-click="" style=""type="submit">Actualizar contraseña</button>
      </form>

  </ion-content>
</ion-modal-view>
