<ion-modal-view class="log-reg" style="max-height:550px">
<img class="close-form" src="img/close.png" height="18px"  ng-click="closeDeleteauthorized()" alt="">
  <ion-content class="editprofile-content"style="width:90%;margin:0 auto;padding-top:30px;">
    <label class="filebutton">
      <div class="align-img-edit" style="margin-top:-20px"><img class="avatar-edit" src="img/guest.jpg" alt=""></div>
    <span><input class="avatar-file" type="file" id="myfile" name="myfile"></span>
    </label>
    <div style="margin-bottom:20px  ;"class="col-xs-12 text-center"><h4>
      ¿Esta seguro que desea eliminar a Nicolas Dominguez? </h4></div>
      <form class="comment" style="margin-bottom:30px;">

          <div class="reservation-button">
            <button class="button button-block button-positive" ng-click="closeDeleteauthorized()" type="submit">Cancelar</button>
          </div>
          <div class="reservation-button">
            <button class="button button-block button-assertive" ng-click="" type="submit">Eliminar</button>
          </div>
      </form>
  </ion-content>
</ion-modal-view>
