<ion-view view-title="Evento" >
  <ion-content overflow-scroll="true">
    <div class="reserva-data single-event">
      <h1 class="reservation-bookeable single-event-title"><b>{{event.title}}</b></h1>
    </div>
    <div class="single-post">
    <img class="single-post-img" src="img/event.jpg" alt="">
    <h4 class="single-post-description"> {{post.description}} </h4>
    </div>





<div class="side-post">
<img style="object-fit:cover"class="post-add" src="img/add.jpg" alt="">
<ion-list>
  <h2 style="font-size:20px;margin-top:20px;font-weight:bold">Tambien te puede interesar:</h2>
      <a class="interest" href="#">Reunión de consorcio anual para definir temas</a>
      <a class="interest" href="#">Torneo abierto de basquet. Inscripcion $1000</a>
      <a class="interest" href="#">Torneo abierto de basquet. Inscripcion $20000</a>
      <a class="interest" href="#">Charla de adicciones brindada por Carlos Damin</a>
  </ion-item>
</ion-list>
<img src="img/osde.jpeg" alt="">
</div>



    <div class="reserva-data single-event" style="margin-top:-100px">

          <h4 style="padding-top:30px;margin-bottom:50px;"> {{event.description}} </p>
        <h4> <b>Fecha:</b> {{event.date}}. </h4>
      <h4> <b>Horario:</b> {{event.time}} Hs.</h4>
      <h4> <b>Lugar:</b> {{event.place}}. </h4>
      <h4> <b>Asistiran:</b> {{event.assist}} personas. </h4>
    </div>



    <form class="comment" style="margin-bottom:30px;">
      <h3>Envíe una consulta:</h3>
        <label class="item item-input" style="border-radius: 15px;margin-bottom:15px;">
          <textarea rows="4" cols="50" name="comments" form="usrform"></textarea>
        </label>
        <div class="reservation-button">
          <button class="button button-block button-positive" ng-click="" type="submit">Enviar consulta</button>
        </div>
        <div class="reservation-button">
          <button class="button button-block button-assertive" ng-click="" type="submit">Asistire al evento</button>
        </div>
    </form>
<img class="add-mobile"src="img/add-mobile.png" alt="">
  </ion-content>
</ion-view>
