<ion-view view-title="Reservas">
  <ion-content>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
      <ion-tab title="Mis Reservas" icon-on="ion-ios-stopwatch" icon-off="ion-ios-stopwatch-outline">
        <ion-view view-title="Reservas">
            <ion-list class="reservations">
              <ion-item class="reservation" ng-repeat="reservation in reservations" href="#/app/reservations/{{reservation.id}}">
                <div ng-include src="'templates/reservations/reservationCard.html'"></div>
              </ion-item>
            </ion-list>
        </ion-view>
      </ion-tab>

      <ion-tab title="Mis Reservas" icon-on="ion-ios-stopwatch" icon-off="ion-ios-stopwatch-outline">
        <ion-view view-title="Reservas">
            <ion-list class="reservations">
              <ion-item class="reservation" ng-repeat="reservation in reservations" href="#/app/reservations/{{reservation.id}}">
                <div ng-include src="'templates/reservations/reservationCard.html'"></div>
              </ion-item>
            </ion-list>
        </ion-view>
      </ion-tab>
  </ion-content>
</ion-view>
