<ion-view view-title="Reservas">
  <ion-content>
    <ion-list class="reservations">
      <ion-item class="reservation" ng-repeat="reservation in reservations" href="#/app/reservations/{{reservation.id}}">
        <div class="reservations-bookeable">{{reservation.bookeable}}</div>
        <div class="reservations-date">{{reservation.date}}</div>
        <div class="reservations-time">{{reservation.time}}</div>
        <div class="reservations-description">{{reservation.description}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
