<div style="margin-top:9px"class="list">

  <label class="item item-input item-select newreservationlabel">
    <div class="input-label">
      Ubicación
    </div>
    <select>
      <option>Canchas de futbol</option>
      <option selected>Canchas de Golf</option>
      <option>SUM</option>
    </select>
  </label>
  <label class="item item-input item-select newreservationlabel">
    <div class="input-label">
      Horarios Disponibles
    </div>
    <select>
      <option>13:30</option>
      <option selected>15:30</option>
      <option>18:30</option>
    </select>
  </label>
  <label class="item item-input item-select newreservationlabel">
    <div class="input-label">
      Tiempo de reserva
    </div>
    <select>
      <option>1 hs</option>
      <option selected>2 hs</option>
      <option>3 hs</option>
    </select>
  </label>
  <label class="item item-input item-select newreservationlabel">
    <div class="input-label">
      Opciones Adicionales
    </div>
    <select>
      <option>Cancha 1</option>
      <option selected>Cancha 2</option>
      <option>Cancha 5</option>
    </select>
  </label>
  <form class="comment newreservationcomment" style="margin-bottom:30px;max-width:800px">
    <h3 style="font-size:25px;white-space:normal">Añadir comentario/consulta:</h3>
      <label class="item item-input" style="border-radius: 15px;margin-bottom:15px;">
        <textarea rows="4" cols="50" name="comments" form="usrform"></textarea>
      </label>
        <button class="button button-block button-assertive" ng-click="" type="submit">Confirmar Reserva</button>
  </form>
