<img height="25px;" style="position:relative;top:4px;margin-right:10px;" src="{{reservation.img}}" alt="">
<div class="reservations-bookeable">{{reservation.bookeable}}</div>
<div class="reservations-date">{{reservation.date}}</div> <img height="25px;" style="position:relative;top:4px;margin-right:10px;float:right " src="img/date.png" alt="">
<div class="reservations-time">{{reservation.time}}</div>  <img height="25px;" style="position:relative;top:14px;margin-right:10px;float:right " src="img/time.png" alt="">
<div class="reservations-description">{{reservation.description}}</div>
