<ion-view view-title="Noticia">
  <ion-content>


    <!-- // TODO: show post content -->
    <div id="content" class="" style="width:100%">
      <!-- <div class="single-navigation clearfix">
        <a href="http://costa-esmeralda.com.ar/nuevo-ampliacion-de-la-proveeduria/" rel="prev">Anterior</a>     
        <a href="http://costa-esmeralda.com.ar/preparando-el-verano-avances/" rel="next">Siguiente</a>    
      </div> -->
      <img src="{{post.principal_image}}" alt="" draggable="false" style="width: 100%">
      
      <div id="post-24455" class="post post-24455 type-post status-publish format-standard has-post-thumbnail hentry category-news tag-news" style="padding: 10px;">
        

        <h2 class="entry-title" data-fontsize="18" data-lineheight="27">
          {{post.title}}
        </h2>            

        <div class="post-content" ng-bind-html="post.body">
        </div>
        
        <span class="vcard" style="display: none;">
          <span class="fn">
            <a href="http://costa-esmeralda.com.ar/author/adm_costa/" title="Entradas de adm_costa" rel="author">
              adm_costa
            </a>
          </span>
        </span>
        <span class="updated" style="display:none;">
          2018-10-01T12:44:06+00:00
        </span>              
      </div>
    </div>








  </ion-content>
</ion-view>


