<ion-view view-title="Noticia" >
  <ion-content overflow-scroll="true">
    <h1 style=""class="single-post-title"><b>{{post.title}}</b></h1>
    <h2 class="single-post-subtitle">{{post.subtitle}}</h2>
      <div class="single-post">
      <img class="single-post-img" src="{{post.img}}" alt="">
      <h4 class="single-post-description"> {{post.description}} </h4>

    </div>
<img class="add-mobile"src="img/add-mobile.png" alt="">
    <div class="side-post">
      <img style="object-fit:cover"class="post-add" src="{{post.add}}" alt="">
      <ion-list>
        <h2 style="font-size:20px;margin-top:20px;font-weight:bold">Tambien te puede interesar:</h2>
            <a class="interest" href="#">Arde la reventa: las astronómicas cifras que piden por una entrada</a>
            <a class="interest" href="#">El desafío personal que tendrá Borré en las finales ante Boca</a>
            <a class="interest" href="#">Astrónomos de Harvard postularon que el misterioso objeto interestelar Oumuamua es una nave extraterrestre</a>
            <a class="interest" href="#">Donald Trump pone a prueba su hegemonía local y su proyecto de poder global en los comicios de medio término'</a>
        </ion-item>
      </ion-list>
      <img src="img/swissmedical.jpg" alt="">
    </div>



  </ion-content>
</ion-view>
