<div style="display: inline-flex; width: 100%;">
  <div>
    <b>
      {{contact.name || " - "}}
    </b>
    <br>
    {{contact.phone != "" ? contact.phone : contact.email || " - "}}
    <br>
    {{contact.description || " - "}}
  </div>

  <div class="text-right" style="right: 30px; position: absolute; width: 100%; vertical-align: baseline;" >
    <a href style="text-align: center;">
      <i class="ion-call icon ion-ios-telephone" style="font-size: 40px;"></i>
      <p style="position:absolute;right:-10px;">Llamar</p>
    </a>
  </div>
</div>
