<div style="display: inline-flex; width: 100%;">
  <div class="text-left"  style="vertical-align: baseline;" >
    <i class="icon ion-document" style="font-size: 40px;"></i>
  </div>

  <div style="margin-left: 15px; margin-top: 10px;">
    <b>
      {{document.title || " - "}}
    </b>
  </div>

  <div class="text-right"  style="right: 20px; position: absolute; width: 100%; vertical-align: baseline;" >
    <a href="{{document.url}}" style="text-align: center;" about="_blank">
      <i class="icon ion-ios-arrow-forward" style="font-size: 40px;"></i>
    </a>
  </div>
</div>