<ion-view view-title="Club Newman">

  <ion-content  overflow-scroll="true">
    <div class="sports">
      <ul>
        <a href="#/app/posts" >Rugby</a>
        <a href="#/app/posts">Futbol</a>
        <a href="#/app/posts">Hockey</a>
        <a href="#/app/posts">Golf</a>
        <a href="#/app/posts">Hipica</a>
        <a href="#/app/posts">Tennis</a>
        <a href="#/app/posts">Bridge</a>
        <a href="#/app/posts">Menores</a>
      </ul>
    </div>
    <ion-slides options="options" slider="data.slider">
    <ion-slide-page>
      <div class="carousel-text">
        <h2 class="carousel-subtitle">UNA EXPERIENCIA</h2>
        <h1 class="carousel-title">MAS QUE UN CLUB.</h1>
        <img class="carousel-img" style=";margin-bottom:-4px;" src="img/carousel3.jpg" alt="">
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="carousel-text">
        <h2 class="carousel-subtitle">UNA EXPERIENCIA</h2>
        <h1 class="carousel-title">MAS QUE UN CLUB.</h1>
        <img style=";margin-bottom:-4px;" src="img/carousel4.jpg" alt="">
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="carousel-text">
        <h2 class="carousel-subtitle">UNA EXPERIENCIA</h2>
        <h1 class="carousel-title">MAS QUE UN CLUB.</h1>
        <img style="width:100%;height: 100%;margin-bottom:-4px;" src="img/carousel2.jpeg" alt="">
      </div>
    </ion-slide-page>
  </ion-slides>
  <img class="twitterimg"src="img/twitter.jpg" alt="">
    <ion-list>
      <ion-item class="home-button-first onhover" href="#/app/posts" >
          <img src="img/news.png" style="position:relative;left:49%" height="35" alt="">
          <h3 class="icon-text">Noticias</h3>
      </ion-item>
      <ion-item class="home-button-first onhover" href="#/app/events" >
          <i class="ion-calendar" style="font-size: 40px;"></i>
          <h3 class="icon-text">Eventos</h3>
      </ion-item>
      <ion-item class="home-button-first onhover" href="#/app/live" >
          <i class="ion-videocamera" style="font-size: 40px;"></i>
          <h3 class="icon-text">En vivo</h3>
      </ion-item>
    </ion-list>
    <img class="add-mobile"src="img/add-mobile.png" alt="">
      <div class="home-paragraph">
        <span><b>El CLUB ES UNICO POR SU VISIÓN</b></span>
        <br>
        DE PROYECTO SOCIAL DEPORTIVO.
        </br>
        <span><b>NEWMAN ES MAS QUE UN CLUB. ES UN ENCUENTRO.</b></span>
      </div>

      <ion-list>
        <ion-item class="home-button onhover" href="#/app/useful_data" >
            <i class="ion-information-circled" style="font-size: 40px;"></i>
            <h3 class="icon-text">Datos utiles</h3>
        </ion-item>
        <ion-item class="home-button onhover" href="#/app/authorizations" >
            <i class="ion-person-add" style="font-size: 40px;"></i>
            <h3 class="icon-text">Invitados</h3>
        </ion-item>
        <ion-item class="home-button onhover" href="#/app/services" >
            <i class="ion-hammer" style="font-size: 40px;"></i>
            <h3 class="icon-text">Servicios</h3>
        </ion-item>
        <ion-item class="home-button onhover" href="#/app/emergencies">
            <i class="ion-ios-medkit" style="font-size: 40px;"></i>
            <h3 class="icon-text">Emergencias</h3>
        </ion-item>
        <ion-item class="home-button onhover" href="#/app/reservations" >
            <i class="ion-clock" style="font-size: 40px;"></i>
            <h3 class="icon-text">Reservas</h3>
        </ion-item>
        <ion-item class="home-button onhover" href="#/app/profile" >
            <i class="ion-person" style="font-size: 40px;"></i>
            <h3 class="icon-text">Perfil</h3>
        </ion-item>
      </ion-list>
      <footer>
      <div class="home-sponsors">
<span></span>
<h3 class="sponsors">Nuestros sponsors:</h3>

<img class="sponsors-img" src="img/sponsors.png" alt="">
</br>
<span><b></b></span>
      </div>
      </footer>

  </ion-content>
</ion-view>


<!--<ion-list>
  <ion-item class="home-items" ng-repeat="home in home" href="#/app/{{home.go}}">
    <div class="home">
      <h1 class="home-item-text">{{home.title}}</h1>

    </div>
  </ion-item>
</ion-list>
