<ion-view view-title="Emergencias">
  <ion-content >


    <div style="margin-left:0"class="single-post">
    <ion-icon name="call"></ion-icon>
    <ion-list class="emergencies">
      <ion-item class="emergency" ng-repeat="emergency in emergencies" href="#/app/emergencies/{{emergency.id}}">
        <div ng-include src="'templates/emergencies/emergencyCard.html'"></div>
      </ion-item>
    </ion-list>
  </div>
  <div style="margin-left:0;"class="side-post">
    <img src="img/swissmedical.jpg" alt="">
    <img style="object-fit:scale-down"src="img/osde.jpeg" alt="">
  </div>
  </ion-content>
</ion-view>
