<!-- {{emergency.title}}
<div class="secondary-info">
  {{emergency.description}}
</div>
<img src="img/telephone.png" alt="">
 -->

<div style="display: inline-flex; width: 100%;">
  <div>
    <b>
      {{service.title || " - "}}
    </b>
    <br>
    <div class="secondary-info">
      {{service.description || " - "}}
    </div>
  </div>

  <div class="text-right" style="right: 30px; position: absolute; width: 100%; vertical-align: baseline;" >
    <a href style="text-align: center;">
      <i class="ion-call icon ion-ios-telephone" style="font-size: 40px;"></i>
      <p style="position:absolute;right:-10px;">Llamar</p>

    </a>
  </div>
</div>
