<ion-view view-title="Club Newman">

  <ion-content style="max-height:1024px">
<div class="live-header">
  <h1 class="live-header-text">Camaras en vivo</h1>
  <i class="ion-videocamera" style="font-size: 40px;"></i>
</div>

  <img class="live" src="img/vivo.png" alt="">
  <img class="live-side"src="img/twitter.jpg" alt="">

  <div style="margin-left:0"class="single-emergency">
      <ion-list>
        <ion-item class="" ng-click=""z>
           <img height="40px;" style="position:relative;top:4px;margin-right:10px;" src="img/Twitter_Icon.png" alt="">
           <div class="services-text"style="position:absolute;left:80px;bottom:27px;font-weight:bold"class="">Twitter</div>
        </ion-item>
        <ion-item class="" ng-click="">
           <img height="40px;" style="position:relative;top:4px;margin-right:10px;" src="img/instagram.png" alt="">
           <div class="services-text"style="position:absolute;left:80px;bottom:27px;font-weight:bold"class="">Instagram</div>
        </ion-item>
      </ion-list>
  </div>





  <footer style="padding-bottom:180px;background-color:#18181a">
  <div class="home-sponsors">
<span></span>
<h3 class="sponsors">Nuestros sponsors:</h3>

<img class="sponsors-img" src="img/sponsors.png" alt="">
</br>
<span><b></b></span>
  </div>
  </footer>
  </ion-content>
</ion-view>
