<ion-view view-title="Club Newman">

  <ion-content style="">
<div class="live-container live-title-mobile">
<div class="vivo">
  <h1 class="live-title">Camaras en vivo</h1>
  <img class="live" src="img/vivo.jpeg" alt="">
</div>
</div>
<div class="live-container">
<img src="img/instagram.jpg" alt="">
<img style="max-height:300px;margin-top:100px"src="img/hsbc.png" alt="">
<img src="img/twitter.jpg" alt="">
</div>
<div class="social-buttons">
  <ion-item style="width:49%;padding:0" class="home-button-first" href="#/app/posts" >
      <i class="ion-social-twitter" style="font-size: 40px;"></i>
      <h3 class="icon-text">Instagram</h3>
  </ion-item>
  <ion-item style="width:49%;padding:0" class="home-button-first" href="#/app/posts" >
      <i class="ion-social-instagram" style="font-size: 40px;"></i>
      <h3 class="icon-text">Twitter</h3>
  </ion-item>
</div>
  </ion-content>
</ion-view>
