/* home */
.twitterimg{display: inline-block;width:26%;height:70%}
.sports{background-color:#993333;display: flex;justify-content: center}
.sports a{font-weight: bold;display: inline-block;color:#ffc30d;font-size: 18px;padding: 10px;padding-right: 50px;text-decoration: none;}
.sports a:hover{opacity:0.8;transition: 0.5s;color:#fff}
.carousel-title{display:none;position: absolute;left: 38%;bottom: 24%;text-decoration: none;font-size: 30px;font-family:'Raleway', sans-serif;font-weight: lighter;color: #e6e6e6;padding: 100px 0;line-height: 40PX;margin-top: 0; }
.carousel-subtitle{display:none;position: absolute;left: 35%;bottom: 16%;text-decoration: none;font-size: 40px;font-family:'Raleway', sans-serif;font-weight: bolder;color: #e6e6e6;padding: 100px 0;line-height: 40PX;margin-top: 0;}
.add-mobile {width: 100%;margin: -6px 0;max-height: 135px}
.home-logo{position: absolute;z-index: 999;top:5px;left:50vh}
.home-paragraph{background-color: #18181a; color:#ddd; text-decoration: none; font-size: 30px; font-family: 'Raleway', sans-serif; font-weight: 100; text-align: center; line-height: 28px; margin-top:0; padding: 60px;}
.home-button{width:16.5%;display: inline-block}
.home-button i{margin-left: 50%}
.home-button-first{width:33.2%;display: inline-block;padding-top: 10px;padding-bottom: 10px}
.home-button-first i{margin-left: 50%}
.live-container{display: flex;justify-content: space-between;}
.icon-text{font-weight: bold;text-align: center;padding-left: 30px;padding-top: 15px}
.home-text{font-weight: bold; font-size: 1.5rem;text-align: center;padding-top: 25px;padding-bottom: 252px;margin-top: 0;}
.home-item-text{font-weight: bold; font-size: 1.8rem;text-align: center;padding-top: 25px;padding-bottom: 25px;margin-top: 0;margin-left: 10px}
.home-text{display: block; padding:70px;width: 99%;margin: 0;}
.sponsors{color: #808080;font-size: 20px}
.sponsors-img{width: 100%;max-width: 700px}
.home-sponsors{background-color: #18181a; color:#ddd; text-decoration: none; font-size: 30px; font-family: 'Raleway', sans-serif; font-weight: 100; text-align: center; line-height: 28px; margin-top:0; padding: 20px;}
ion-slides{overflow: hidden;width:73%;height: 70%;display: inline-block;}
@media (max-width:1024px) {.sports{display:none}.twitterimg{display:none} ion-slides{height: 600px;width: 100%}.live-container{display: none}.carousel-subtitle{position: absolute;left: 30%;bottom: 16%}.carousel-title{position: absolute;left: 33%;bottom: 24%;}}
@media (max-width:1150px) {.home-button{width:33%}.home-button-first{width:33%}}
@media (max-width:900px) {ion-slides{height: 450px}}
@media (max-width:800px) {ion-slides{height: 400px}.carousel-subtitle{position: absolute;left: 27%;bottom: 16%}.carousel-title{position: absolute;left: 29%;bottom: 24%;}}
@media (max-width:680px) {ion-slides{height: 320px}.carousel-subtitle{position: absolute;left: 22%;bottom: 2%}.carousel-title{position: absolute;left: 25%;bottom: 14%;}}
@media (max-width:580px) {ion-slides{height: 260px}.carousel-subtitle{position: absolute;left: 14%;bottom: -25%}.carousel-title{position: absolute;left: 18%;bottom: -15%;}}
@media (max-width:480px) {ion-slides{height: 220px}.carousel-subtitle{font-size: 30px;position: absolute;left: 18%;bottom: -40%}.carousel-title{font-size: 20px;position: absolute;left: 25%;bottom: -28%;}}
@media (max-width:450px) {.carousel-subtitle{position: absolute;left: 15%;bottom: -35%}.carousel-title{position: absolute;left: 20%;bottom: -20%;}}
@media (min-width:768px){.add-mobile{display:none}.carousel2{display:none}.home-item-text:hover{opacity: 0.6;transition: 0.3s}.home-items{box-sizing:border-box; width: 48%;display: inline-block;border:2px solid #b3b3b3;border-radius: 10px;max-height: 20vh;margin:0 1%}}
@media (max-width:767px) {.home-icon{padding-left: 7px;} .carousel1{display:none}.sponsors{font-size: 15px}.icon-text{display:none} .home-item-text{font-size:1.3rem;padding-top:15px;padding-bottom: 15px}}
@media (max-width:500px) {.home-paragraph{background-color: #18181a; color:#ddd; font-size: 17px; font-weight: 100; text-align: center; line-height: 23px; margin-top:0;padding: 25px 15px;}}
@media (max-width:350px) {ion-slides{height: 180px}.carousel-title{font-size:22px;left: 18%;top: -15%;}.carousel-subtitle{font-size: 25px;left: 15%;bottom: -40%;}}

/* navbar */
.avatar-navbar{position: absolute;z-index: 999;height: 45px;right:20px;top:4px; ;width: 250px;border-top-right-radius:20px;border-bottom-right-radius:20px;  }
.avatar-navbar:hover{opacity: 0.8;}
.nav-avatar{border-radius:50%; object-fit:cover; width:38px; height:38px;margin:0 auto; position: absolute;z-index: 999;right: 3px;top:3px;}
.avatar-text{position: absolute;z-index: 999;right: 60px;top: 12px;}
.avatar-text {color: white;font-weight: bold;}
@media (max-width:680px) {.avatar-text{display: none;}.avatar-navbar{width: 50px;}}


/* Login-signup */
.forgotpass{color: #993333; position: relative; font-weight: 900;text-decoration: none;position:absolute;top:145px;right:50px}
.remember{border-radius:15px;margin-bottom:15px;width:50%;}
.email-sent{display:none}
.close-form{float:right;margin:10px;}
.close-form:hover{opacity: 0.4}
.log-reg{position:absolute;top:52px;bottom:50px;max-width:800px;margin:0 auto;}
.log-reg-form{width:98%;margin:0 auto;overflow:hidden;padding-top:30px;}
.log-img{height: 140px}
@media (max-width:1028px) { .forgotpass{top:195px;right: 25px;} .remember{width: 100%;margin-bottom: 40px;} }
@media (min-width:375px) {.log-reg-form{width:90%}}
@media (min-width:680px) {.log-reg{border-radius: 10px;}.log-reg-form{width:80%}}
@media (max-width:425px) {.log-img{height: 100px}.reg-img{height: 100px}}
@media (max-width:425px) {.reg-img{height:60px}}


/* emergencies */
.emergency{font-weight: bold;}
.secondary-info{padding-top: 20px;font-weight: normal;}
.emergency img {height: 30px;position: absolute;right: 40px;top: 30px;}
.side-emergency{display:none}
.side-emergency img {object-fit:scale-down;height: 200px;width: 100%}
@media (min-width:768px){.emergencies{margin-left:} .emergency:hover{opacity: 0.7;transition: 0.3s}.emergency{border-radius: 10px;margin-top:30px;margin-left:70px;margin-right: 150px}}
@media (min-width:768px){.side-emergency{display: inline-block;width: 40%;margin: 0 auto;margin-top:50px;padding-right: 15px;float: right}.single-emergency{width:60%;display: inline-block}.emergency-item{width:85%;margin:0 auto;margin-left: 30px;}.single-post{width:70%;display: inline-block}}


/* reservations */
.reservations-bookeable{font-weight: bold; display:inline-block;position: relative;top:-3px;}
.reservations-date{float: right;clear:right;padding-top: 10px;font-weight: bold;margin-right: 6px}
.reservations-time{float: right;clear:right;padding-top: 17px;}
.reservations-description{padding-top: 17px;}
.reservation-button{width:48%;display:inline-block}
@media (max-width:950px){.reservation-button{width: 100%;display: block}.newreservationcomment{margin-top: -310px}}
.newreservationlabel{height: 55px;max-width: 800px;margin: 10px auto;font-weight: bold;width: 100%;border-radius: 10px}
@media (min-width:680px) {.newreservationlabel{height: 85px;border-radius: 20px;margin-bottom: 20px;margin-top: 20px}}


/* reservation */
.reserva-data{padding-top:70px;width: 50%;margin: 0 auto;}
.comment{width:50%;margin:0 auto;margin-top:50px;}
.reservation-bookeable{text-align:center;padding-bottom:60px;}
.reserva-bug{margin-top:50px}
.reservation-bug-mobile{position:relative;top:4px;right:10px;float:right}
@media (max-width:680px) { .reservation-bug-mobile{right:4px}.reserva-data{width: 80%;padding-top:30px;} .comment {width:80%} .reservation-bookeable{padding-bottom:20px;}}
@media (min-width:680px){.reservation:hover{opacity: 0.7;transition: 0.3s}.reservations-bookeable{display: inline-block}}
@media (max-width:768px) {.reserva-bug{margin-top: 0}}

/* profile */
.avatar{border-radius:50%; object-fit:cover; width:400px; height:400px;margin: 0 auto;}
.avatar-edit{border-radius:50%; object-fit:cover; width:300px; height:300px;margin: 0 auto;}
.align-img-edit{width: 300px;margin:0 auto;margin-top: 30px;margin-bottom: 30px;}
.align-img{width: 400px;margin:0 auto;margin-top: 30px;margin-bottom: 30px;}
@media (max-width:680px) {.avatar-edit{width: 250px;height: 250px}.align-img{width: 250px} .avatar{width: 250px;height: 250px}.align-img-edit{width: 250px}}
@media (max-width:425px) { .avatar-edit{width: 220px;height: 220px;margin-bottom: -20px}.avatar{width: 220px;height: 220px;margin-bottom: -20px}.align-img{width: 220px}.align-img-edit{width: 220px}}
@media (max-width:350px) { .avatar-edit{width: 130px;height: 130px;margin-bottom: -20px} .avatar{width: 130px;height: 130px;margin-bottom: -20px}.align-img{width: 130px}.avatar-edit{width: 30px}}
@media (min-width:680px){.align-img img:hover {opacity: 0.8;transition: 1s}}
.avatar-edit{border-radius:50%; object-fit:cover; width:300px; height:300px;margin: 0 auto;}
.editprofile-button{margin-top:10px;margin-bottom:90px}
.align-img-edit{width: 300px;margin:0 auto;margin-bottom: 30px;}
.changepass-button{width:300px;margin:0 auto;}
@media (max-width:680px) {.editprofile-content{padding-top: 10px} .avatar-edit{width: 250px;height: 250px}.align-img-edit{width: 250px}}
@media (min-width:680px){.align-img-edit img:hover {opacity: 0.8;transition: 1s}}
@media (max-width:425px) {.editprofile-bug{margin-bottom: 300px}.changepass-img{height: 70px;}.changepass-button{width:100%;bottom:10px}}
@media (max-height:600px) {.changepass-text h4{font-size: 15px;margin-bottom:-30px;}.changepass-img{height: 50px;}}

/* authorized */
.authorized-data{display: inline-block;width: 49%;font-weight: bold}
.authorized-info{display: inline-block;width: 49%}
@media (max-width:350px) {.authorized-name{max-width: 150px;}}


/* post */
.single-post-title{text-align:center;padding-bottom:60px;padding-top:40px;}
.side-post{display:none}
.side-post img {object-fit:scale-down;height: 200px;width: 100%}
.single-post-subtitle{font-size: 20px;font-weight: 300;font-style: italic;text-align: center;margin-top: -50px;margin-bottom:30px;color:#595959}
.single-post-description{padding-top:30px;text-align:;width:95%;margin:0 auto;margin-bottom:30px;}
.single-post-img{object-fit:cover;width:100%;margin: 0 auto;}
.single-post-img2{object-fit:cover;width:100%;margin: 0 auto;}
.posts .item-content{padding: 0;margin-top: 0px}
.post-text{font-weight: bold; font-size: 1.5rem;text-align: center;padding-top: 25px;margin-top: 0}
.post-img{width: 100%;float:none;margin-bottom: 10px}
.post-text{display: block; padding-top:10px;width: 95%;margin: 0 auto;margin-bottom: 10px;}
.post-description{width:90%;margin: 0 auto;padding-bottom: 40px; text-align: justify;text-justify: inter-word;}
.interest{color:#000;display:block;padding-bottom: 20px}
@media (min-width:768px){.posts:hover{opacity: 0.8;transition: 0.5s}}
@media (min-width:760px) {.posts{width: 50%;display: inline-flex;padding: 50px;border:none}.post-img{border-radius:10px}.post-description{width:100%}}
@media (min-width:760px){.single-post-description{width: 100%}.single-post{width:85%;margin:0 auto;margin-left: 30px;}.side-post{display: inline-block;width: 25%;margin: 0 auto;padding-right: 15px;float: right}.single-post{width:70%;display: inline-block}}
@media (max-width:768px){.single-post-subtitle{text-align: justify;font-size: 17px;margin: 0 auto;margin-top: -30px;margin-bottom: 20px;width: 90%}}


/* events */
.single-event{width: 80%}
.events .item-content{padding: 0;margin-top: 0px}
.event-text{font-weight: bold; font-size: 1.5rem;text-align: center;padding-top: 25px;margin-top: 0}
.event-date{position: absolute;right: 150px;bottom: 30px}
.event-date-img{position: absolute;right: 240px;bottom: 30px}
.event-time{position: absolute;right: 30px;bottom: 30px}
.event-time-img{position: absolute;right: 80px;bottom: 30px}
.event-img{width: 100%;float:none;margin-bottom: 60px}
.event-text{display: block; padding-top:10px;}
.event-date{left:48px}
.event-date-img{left:15px}
@media (min-width:768px){.events:hover{opacity: 0.8;transition: 0.5s}}
@media (min-width:760px) {.events{width: 50%;display: inline-flex;padding: 50px;border:none}.event-img{border-radius:10px}}
@media (max-width:425px) {.single-post-title{font-size: 25px;padding-top: 25px;}.single-event-title{font-size: 25px} .single-event{width: 90%}}

/* live */
.live-title{text-align: center;padding-top: 40px;padding-bottom:10px;display: none;}
.live-title h1{font-size: 30px;padding-left: 10px}
.live-social{margin-top:0px;max-width: 800px}
.live{width: 74%;;margin-bottom: 10px;padding-left: 10px}
.live-side{width: 24.5%}
.social{width:49%}
.social-buttons{display:none}
.live-header{display:none}
@media (max-width:1024px) {.live-title-mobile{display: inline-block}}
@media (max-width:768px) {.live-header-text{font-family: Arial, Helvetica, sans-serif;font-style: oblique; font-weight: bold;padding-right:20px;padding-left: 20px}.live-header{display: inline-flex;text-align:center;padding:5px;padding-top: 15px}.live-title{display: inline-block}.live{width:100%;margin:0;padding:0}.live-side{display:none;}.social-buttons{display:block;position: fixed;left: 7px;bottom: -5px;    right: 0;}.live-buttons{display:block}}
@media (max-width:380px) {.live-header-text{font-size: 28px;padding-top: 8px}}
/* services */
@media (min-width:768px) {.service{border-radius: 10px;margin-top:30px;margin-left:70px;margin-right: 150px;}}
.add-services{position:absolute;bottom:0px;z-index:999}
@media (max-height:600px) {.add-services{position: static;display:block;width: 100%;margin: -6px 0;max-height: 135px}}

/* general */
.sidebar-text{display:inline-block; vertical-align:top;font-family:helvetica;font-style: italic;}
.sidebar-logo{height: 100px}
@media (min-width:768px){button:hover{opacity: 0.8;transition: 0.3s}.onhover:hover{opacity: 0.7;transition: 0.4s}}
.item-content p{white-space: normal;}
.item-content h1{white-space: normal;}
.bar.bar-stable{background-color: #993333}
.header-item{font-weight: bold}
.bar.bar-stable{border:#993333}
.ion-content{top:42px;}
.ion-content .useful-content{top:42px;}
.swiper-pagination-bullet{background: #993333}
@media (max-width:380px) {.sidebar-text{margin-top: 10px;font-size: 25px}.sidebar-logo{height: 60px}}
@media (min-width:768px) {.conteiner{padding: 0px 300px 0px 200px;background-color: #e6e6e6;height: 100vh}}
/* img to file input */

label span .avatar-file {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
}


/* transparency for form*/
::-webkit-input-placeholder {
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
@media (max-width:768px) {::-webkit-input-placeholder{display: none}

}
:focus::-webkit-input-placeholder {
  opacity: 0;
  /* color: transparent; */
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}::-moz-placeholder {
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  /* color: transparent; */
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0;
  /* color: transparent; */
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  /* color: transparent; */
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
